subject: Forward of error_log from <?=$_SERVER['REMOTE_ADDR']?>.

--
ATTN: <?=$this->toName?>,

The size of 'error_log' file is too big now (more than <?=$this->maximum?> bytes):

file: <?=$this->file?>

size: <?=strlen($this->log)?> bytes
server: <?=$_SERVER['REMOTE_ADDR']?>


That's why you receive its content by email. The file itself
was removed from the production server. Please, review the
list of errors from the list below and try to fix them ASAP:

<?=$this->log?>