ATTN: <?php echo $this->escape($this->toName)?>,

An exception was raised in FaZend application, which was not caught inside. The report 
below will help you to understand the cause of this situation and resolve it. The
exception was also logged into error_log file. 
Error code indicated to the user: #<?php echo $this->escape($this->errorCode)?>.

<?php echo $this->escape($this->text)?>