
div.wrapper {
    line-height: 1.6em;
    font-size: 1.7em;
    margin-top: 50px;
}

span.unit {
    color: <?=FaZend_Image::getCssColor('mockup.link')?>;
    cursor: pointer;
}

    span.unit:hover {
        color: white;
        background-color: <?=FaZend_Image::getCssColor('mockup.link')?>;
    }

span.unitlog {
    color: #<?=FaZend_Image::BRAND_LIGHTGRAY?>;
    display: none;
}

    span.unitlog:before {
        content: " :";
    }

div.panel {
    position: absolute;
    right: 20px;
    top: 20px;
}

    div.panel pre#output {
        background: black;
        color: white;
        width: 600px;
        height: 350px;
        overflow: hidden; 
        overflow-y: auto;
        overflow-x: auto;
        font-family: Courier;
        line-height: 1em;
        padding: 5px;
        font-size: 0.8em;
    }

    div.panel pre#protocol {
        font-size: 0.8em;
        color: #<?=FaZend_Image::BRAND_GRAY?>;
        line-height: 1em;
    }


