
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Verdana;
    font-style: normal;
    font-size: 11px;
    line-height: 1.9em;

    color: #122632;
    background-color: white;
    margin: 5px;
}

img {
    border: none;
}

/* global wrapper */
div.wrapper {
    width: <?=FaZend_UiModeller_Mockup::WIDTH?>px;
    clear: both;
    margin: 10px auto 20px auto;
    position: relative;
}

/* header above the page */
div.header {
    position: relative;
    height: 100px;
}

    /* active actor */
    div.header div.actor {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    /* link to static PNG of the page */
    div.header div.path {
        position: absolute;
        left: 150px;
        bottom: 10px;
        font-size: 2em;
    }

    /* link to static PNG of the page */
    div.header div.link {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

/* global wrapper */
div.page {
    border: 1px solid <?=FaZend_Image::getCssColor('border')?>;
    padding: <?=FaZend_UiModeller_Mockup::INDENT?>px;
    position: relative;
    min-height: 400px;
}

    div.page h1 {
        font-weight: normal;
        font-size: <?=FaZend_UiModeller_Mockup_Meta_Title::FONT_SIZE?>px;
        margin-bottom: 1em;
        color: <?=FaZend_Image::getCssColor('mockup.content.title')?>;
    }

    div.page p {
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: <?=FaZend_UiModeller_Mockup_Meta_Text::FONT_SIZE?>px; 
        color: <?=FaZend_Image::getCssColor('mockup.content')?>;
    }

    div.page input, 
    div.page textarea, 
    div.page select {
        padding: 2px;
        font-family: Verdana;
        color: <?=FaZend_Image::getCssColor('mockup.input.text')?>;
        border: 1px solid <?=FaZend_Image::getCssColor('mockup.input.border')?>;
        background:<?=FaZend_Image::getCssColor('mockup.input')?>;
    }

    /* normal links and link-free hrefs */
    div.page a {
        text-decoration: none;
        cursor: pointer;
        color: #122632;
        background-color: inherit;
        border-bottom: 1px dotted #122632;
    }
        
        div.page a:hover {
            color: #0093d0;
            background-color: inherit;
            border-bottom: 1px dotted #0093d0;
        }

    div.page th {
        text-align: left;
    }

        div.page td, 
        div.page th {
            text-align: left;
            vertical-align: top;
            padding: 2px;
            margin: 1px;
            background: white;
            font-size: <?=FaZend_UiModeller_Mockup_Meta_Table::FONT_SIZE?>px;
        }

        div.page th {
            background-color: <?=FaZend_Image::getCssColor('mockup.table.header.background')?>;
            color: <?=FaZend_Image::getCssColor('mockup.table.header')?>;
            font-weight: normal;
        }

    /* broken link */
    div.page span.broken {
        border-bottom: 1px dotted red;
        cursor: pointer;
    }

    /* SUBMIT button at the end of the form */
    div.page span.submit {
        padding: 4px;
        border: 2px solid <?=FaZend_Image::getCssColor('mockup.button.border')?>;
        background: <?=FaZend_Image::getCssColor('mockup.button')?>;
    }

    /* list of all active actor */
    div.page div.actors {
        position: absolute;
        top: 0px;
        left: -210px;
        width: 200px;
        line-height: 1.4em;
        text-align: right;
    }

        div.page div.actors li.actor {
            list-style: none;
            margin-bottom: 18px; 
            text-align: right;
        }

        div.page div.actors li.pic {
            background: transparent url('<?=$this->viewFile('ui/actor.gif')?>');
            display: inline-block;
            width: 13px;
            height: 20px;
        }

        div.page div.actors li.picActive {
            background: transparent url('<?=$this->viewFile('ui/actorActive.gif')?>');
            width: 25px;
            height: 39px;
        }

        div.page div.actors li.active {
            list-style: none;
            margin-bottom: 18px; 
            font-weight: bold;
        }

    /* list of all scripts */
    div.page div.nav {
        position: absolute;
        top: 0px;
        right: -160px;
        line-height: 1.4em;
        width: 150px;
    }

        div.page div.nav ul {
        }

        div.page div.nav li {
            list-style: none;
            margin-bottom: 18px; 
        }

            div.page div.nav li li {
                margin-bottom: 0px !important; 
                margin-left: 5px;
            }

                div.page div.nav li li.active {
                    font-weight: bold;
                }

div.logo {
    text-align: right;
    font-size: 0.8em;
    color: gray;
}
